#tituloAnimacion {
  border-right: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
  animation: blinkCursor 0.8s steps(1) infinite;
}

@keyframes blinkCursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
